<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../css/images/MJ.png">
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>   
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="navbar.js" type="text/babel"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Tribute Page</title>
</head>
<style>
    *{margin:0; padding:0;}
    p{text-align:center;}
    img{width:500px; height:400px; margin-left:455px; }
    .box{ margin:20px 10px 20px 10px; background-color:#cbd;}

    .center{ 
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;}
    @media(max-width:800px){img{width50%; height:50%;}}
</style>
<body>

    <main class="box" id="main">
<h1 style="padding-top:15px; font-size:50px; text-align:center;" id="title"><bold>Dr.A P J ABDUL KALAM<bold></h1><br>
 <p>-The Missle Man Of India</p><hr><br>
  <figure id="img-div">
    <img  class="center" id="image" src="https://www.mumbailive.com/images/media/images/images_1571123221547_abdul_kalam.jpg?bg=c39474&crop=620%2C348.0701754385965%2C0%2Cnull&fit=crop&fitToScale=w%2C1368%2C768&h=768&height=40&w=1368&width=620" alt="Dr. A P J ABDUL KALAM">
    <figcaption style="text-align:center;" id="img-caption">-Avul Pakir Jainulabdeen Abdul Kalam</figcaption></figure>
  <section id="tribute-info"><br><br>
    <p style="font-size:25px;"><u>NOW HERE IT IS ALL ABOUT Dr.ABDUL KALAM:</u><p><br>
  <strong><ul style="text-align:center;  font-size:20px;">
    <li>He was the former president of India</li><br>
    <li>11th President of India</li><br>
    <li> Born: 15 October 1931 Ramashewaram</li><br>
    <li> Died: 27 July 2015 (aged 83)</li><br>
    <li>Resting place: Dr. A. P. J. Abdul Kalam Desiya Ninaivagam, Pei Karumbu</li><br>
    <li>Nationality: Indian</li><br>
    <li>Profession: Aerospace ScientistAuthor</li><br></ul>
    <br
        <blockquote><p>Don’t take rest after your first victory because if you fail in second, more lips are waiting to say that your first victory was just luck.</p> <cite style="margin-left:900px;">--A P J ABDUL KALAM</cite></blockquote> <br><br>
    <h3 style="text-align:center; font-size:35px;">Have more time? Then why dont you check all his details by <a target="_blank" id="tribute-link" href="https://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam" target="">clicking here</a>?</h3>
</body>
</html>