<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../css/images/MJ.png">
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>   
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="navbar.js" type="text/babel"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Documentation</title>
</head>
<style>
    html{scroll-behavior:smooth;}
ul{ height:100%;list-style:none; width:25%;float:left; margin:0; padding:0; overflow:auto; background-color: #f1f1f1;border-right: solid; position:fixed; top: 0px;}
body{margin:0;padding-top:0px; padding-top:0; }
li a{display:block; color:black; padding:8px 16px; text-decoration: none; font-size:230%;border-bottom:2px solid black;}
#hii{margin-left:25%;padding:0px 16px; height:2000px;}
li a:hover{color:white; background-color:#555;}
header{font-size:50px;}
ol{list-style:disc;}
@media(max-width:1004px){nav ul{width:100%; height:40%; margin-top:0;}}
@media(max-width:1004px){#hi{margin-top:41%;}}
@media(max-width:1004px){#hii{margin-left:5%;}}
@media(max-width:730px){#hi{margin-top:61%;}}
</style>
<body>
   <nav id="navbar"><header id="hi" style="text-align:center; font-size:50px;"><bold>JS DOCUMENTATION</bold></header><hr><ul>
<li><a class="nav-link" href="#introduction"> Introduction</a></li> 
   <li><a class="nav-link" href="#What_you_already_know">What you already know</a>
    </li>
    <li>
      <a class="nav-link" href="#JavaScript_and_Java">JavaScript and Java</a>
    </li>
    <li><a class="nav-link" href="#Hello_world">Hello world</a></li>
    <li><a class="nav-link" href="#Variables">Variables</a></li>
  
</nav>
<div id="hii"><main id="main-doc">
<section id="main-section" class="main-section"><header id="introduction">
Introduction</header>
<p>JavaScript<p></p> is a cross-platform, object-oriented scripting language. It is a small and lightweight language. Inside a host environment (for example, a web browser), JavaScript can be connected to the objects of its environment to provide programmatic control over them.</p>
<p>JavaScript<p></p> contains a standard library of objects, such as Array, Date, and Math, and a core set of language elements such as operators, control structures, and statements. Core JavaScript can be extended for a variety of purposes by supplementing it with additional objects; for example:</p>
<ol>
  <li>Client-side JavaScript extends the core language by supplying objects to control a browser and its Document Object Model (DOM). For example, client-side extensions allow an application to place elements on an HTML form and respond to user events such as mouse clicks, form input, and page navigation.</li>
<li>Server-side JavaScript extends the core language by supplying objects relevant to running JavaScript on a server. For example, server-side extensions allow an application to communicate with a database, provide continuity of information from one invocation to another of the application, or perform file manipulations on a server.</li>
  </ol></section>
  <section id="main-section" class="main-section"><header id="What_you_already_know" >What you already know</header>
    <p>This guide assumes you have the following basic background:</p>
    <ol style="list-style:disc;">
  <li>A general understanding of the Internet and the World Wide Web (WWW).</li>
      <li>Good working knowledge of HyperText Markup Language (HTML).</li>
      <li>Some programming experience. If you are new to programming, try one of the tutorials linked on the main page about JavaScript.</li></section>
      <section id="main-section" class="main-section"><header id="JavaScript_and_Java" >
JavaScript and Java</header><p>JavaScript and Java are similar in some ways but fundamentally different in some others. The JavaScript language resembles Java but does not have Java's static typing and strong type checking. JavaScript follows most Java expression syntax, naming conventions and basic control-flow constructs which was the reason why it was renamed from LiveScript to JavaScript.</p>
        <p>In contrast to Java's compile-time system of classes built by declarations, JavaScript supports a runtime system based on a small number of data types representing numeric, Boolean, and string values. JavaScript has a prototype-based object model instead of the more common class-based object model. The prototype-based model provides dynamic inheritance; that is, what is inherited can vary for individual objects. JavaScript also supports functions without any special declarative requirements. Functions can be properties of objects, executing as loosely typed methods.</p>
        <p>JavaScript is a very free-form language compared to Java. You do not have to declare all variables, classes, and methods. You do not have to be concerned with whether methods are public, private, or protected, and you do not have to implement interfaces. Variables, parameters, and function return types are not explicitly typed.</p></section>
<section id="main-section"  class="main-section"><header id="Hello_world">Hello world</header>
  <p>To get started with writing JavaScript, open the Scratchpad and write your first "Hello world" JavaScript code:</p><code
        >function<code></code><code></code><code></code><code></code>  greetMe(yourName) { alert("Hello " + yourName); }
        greetMe("World");</code>
  <p>Select the code in the pad and hit Ctrl+R to watch it unfold in your browser!</p></section>
     
  <section  id="main-section" class="main-section"><header id="Variables" >Variables</header>
    <p>You use variables as symbolic names for values in your application. The names of variables, called identifiers, conform to certain rules.</p>
    <p>A JavaScript identifier must start with a letter, underscore (_), or dollar sign ($); subsequent characters can also be digits (0-9). Because JavaScript is case sensitive, letters include the characters "A" through "Z" (uppercase) and the characters "a" through "z" (lowercase).</p><p>You can use ISO 8859-1 or Unicode letters such as å and ü in identifiers. You can also use the Unicode escape sequences as characters in identifiers. Some examples of legal names are Number_hits, temp99, and _name.</p></section>
 </main> 
</body>
</html>