<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="css/images/MJ.png">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script defer src="navbar.js" type="text/babel"></script>
    <script defer crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>   
    <script defer crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script defer src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <script defer src="index.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="client.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Comments</title>
</head>
        
<body>

    <div id="header">
	    <div class="circle-logo">
            <img src="css/images/MJ.png" alt=""/>
        </div> 
             <h3><mono class="white">MEHEER</mono></h3>
	    <nav class="navbar">
	    	<ul class="navbar-links">
		        <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/certificates">Certificates</a></li>
                <li><a href="/comments">Comments</a></li>
                <li><a href="/sign-up">Sign-Up</a></li>
		    </ul>
	    </nav>
	    <div class="hamburger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
	    </div>
        </div>
    
    <section id="welcome">

        <div class="center" style="position: absolute:">
        <h1 class="text" style="color: white;">Comments</h1>
        <h4 class="text"><a href="/add-comments">Click Here to add your Comment...</a></h4>
        </div>

</section>
<section style="padding-top: 80px;">
<h2 class="inline-center hl1" style="color:black;">You Can View All The Comments On This Page...</h2>
<div id="display"></div>
</section>
</body>
</html>


