<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="css/images/MJ.png">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script defer src="navbar.js" type="text/babel"></script>
    <script defer crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>   
    <script defer crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script defer src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <script defer src="index.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>
<body>

        <div id="header">
	    <div class="circle-logo">
            <img src="css/images/MJ.png" alt=""/>
        </div> 
             <h3><mono class="white">MEHEER</mono></h3>
	    <nav class="navbar">
	    	<ul class="navbar-links">
		        <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/certificates">Certificates</a></li>
                <li><a href="/comments">Comments</a></li>
                <li><a href="/sign-up">Sign-Up</a></li>
		    </ul>
	    </nav>
	    <div class="hamburger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
	    </div>
        </div>

    <section id="welcome">

        <div class="center" style="position: absolute:">
        <h1 class="text" style="color: white;">HEYY, I'M MEHEER</h1>
        </div>

    </section>

    <section id="abt" data-aos="fade-up">
        <h2 class="inline-center hl1" style="color:black">Profile</h2>
        <div class="container">

            <div class="sub" data-aos="slide-up">
                <h2 class="inline-center" style="color: white">About Me!!</h2>
                <h3>Hello! My name is Meheer, I want to become one of the best Full-Stack Developer. I love to put my self into my codes while I listen to music. I currentely am a High School Student. My favorite framework as of now is Node.js and make backend part and a few API. I'm really good at learning on my own which is really important for a web developer. I've learnt coding from <a href="https://www.freecodecamp.org/" target="_blank" >FreeCodeCamp.org</a> on my own and this was really some long way... But it did really worth the time I spent on this. I love to play basketball and handball, And Call Of Duty mobile is my favorite video game and I love watching anime. Thank you for checking my website out, check my github for many more stuff and also my discord to get in touch with me!!</h3>
            </div>

            <div class="s-grid" data-aos="fade-up">

                <div class="sub2" data-aos="slide-right">
                    <h2 class="inline-center" style="color: white">What Have I Learnt? </h2>
                    <ul style="padding-left: 15px;">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>
                        <li>NODE.JS</li>
                        <li>MONGOOSE</li>
                        <li>MONGODB</li>
                        <li>GIT</li>
                        <li>PYTHON</li>
                    </ul>
                </div>
                <div class="sub2" data-aos="slide-left">
                    <h2 class="inline-center" style="color: white">Teach</h2>
                    <h3 >I would love to teach web development to anyone interested! If you are interested in web development, don't hesitate to call or email me. I can teach you through google meet, and we can go through anything I have listed on this website. You can find my email and phone number in at the bottom of this page. I am also happy to take a look at any job offers that come my way.</h3>
                </div>
                <div class="sub2" data-aos="slide-right">
                    <h2 class="inline-center" style="color: white">What I've Worked On</h2>
                    <h3>As a part of all these I had made a few projects for my learning, such as a website for my English project on tribes and also an project on E-Waste Management and a website which is a combination of all my React projects which are presented in the projects section... Be sure to check them out while ur here!!</h3>
                </div>
                <div class="sub2" data-aos="slide-left">
                    <h2 class="inline-center" style="color: white">Why Am I Presenting This?</h2>
                    <h3>This is really a very intresting question to answer.... So it all started when I was in 8th grade there were few intresting post on instagram and I found it really amazing / attractive to see, So this was a picture on how to make websites and info how it works and all... I was amazed by it and it seemed to be easy and finally ended up starting this fun jorney towards being a web developer... </h3>
                </div>

            </div>

        </div>
    </section>

<section class="foot">
    <p class="footItem">Meheer &copy 2021</p>
    <p class="footItem"><a style="text-decoration: none; color: #7f8a9a;" href="mailto:meherr17.j@gmail.com"><i class="fab fa-mailchimp"></i>  meherr17.j@gmail.com</a></p>
    <p class="footItem"><a style="text-decoration: none; color: #7f8a9a;" href="tel:+91 8310697451"><i class="fas fa-mobile"></i>  +91-8310697451</a></p>
    <p class="footItem"><i class="fab fa-discord"></i>  discord - Meheer#2192</p>
    <p class="footItem"><a href="https://github.com/Meheer17" style="text-decoration: none; color: #7f8a9a;" target="_blank"><i class="fab fa-github"></i>  github</a></p>
</section>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
         offset: 120,
         duration: 1000,
    });
</script>
</body>
</html>