<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="css/images/MJ.png">
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>   
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <script src="navbar.js" type="text/babel"></script>
    <script src="../publi/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>Home</title>
</head>
<body>
  
<div id="NAVBAR"></div>

    <section id="welcome">

        <div class="center" style="position: absolute:">
        <h1 class="text" style="color: white;">HEYY, I'M MEHEER</h1>
        <!-- <h3 class="text" style="color: white;">I'm a 16 yr old student. I'm really intrested in making websites and some back-end stuff. ive learnt all these on my own, and personal intrest. as you go throgh my website you can find many of my previous projects and also all my certificates which I've got for all these projects.</h3> -->
        </div>

    </section>

    <section>

    </section>


</body>
</html>