         <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="css/images/MJ.png">
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>   
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <script src="navbar.js" type="text/babel"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Projects</title>
</head>
<body>
<div id="NAVBAR"></div>


<section id="welcome">

    <div class="center" style="position: absolute:">
        <h1 class="text" style="color: white;">PROJECTS</h1>
    </div>

</section>

<section id="projects">
    <h1 class="inline-center hl1">Projects</h1>
    <br><br>
    <h1 style="color: white; text-align: center;">Here are some of my projects which ive done over the years...</h1>
    <br><br>


    <h3  style="color: white;">My First Five projects:- </h3>
    <br><br>
    <div class="p-grid">

        <div class="p-elem">
            <img src="css/images/1.jpeg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a class="view" href="/projects/tribute-page" target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/2.jpeg" alt="" />
            <div class="content">
                <h2>Survey Form</h2>
                <p>This is a suevey form made for my test in freecodecamp for my html and css certifications... </p>
                <br>
                <a class="view" href="/projects/survey-form" target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/3.jpeg" alt="" />
            <div class="content">
                <h2>Shopping Site</h2>
                <p>This is a simple online shopping site made with only html and css for free code camp...</p>
                <br>
                <a class="view" href="/projects/online-shop" target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/4.jpeg" alt="" />
            <div class="content">
                <h2>JS Document</h2>
                <p>This is a JavaScript documentation with a side nav bar wit html and css only...</p>
                <br>
                <a class="view" href="/projects/document" target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/5.jpeg" alt="" />
            <div class="content">
                <h2>Profile</h2>
                <p>This is my first profile which i tried to make long ago with nothing other than html and css...</p>
                <br>
                <a class="view" href="/projects/profile-1"target="_blank">View</a>
            </div>
        </div>

    </div>
    <br><br>

    <h3  style="color: white;">React Projects:- </h3>
    <br><br>
    <div class="p-grid">

        <div class="p-elem">
            <img src="css/images/8.jpeg" alt="" />
            <div class="content">
                <h2>Random Quote Machine</h2>
                <p>This is a really intresting react project which i made for giving out good motivational quotes...</p>
                <br>
                <a class="view" href="/projects/random-quote-machine"target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/9.jpeg" alt="" />
            <div class="content">
                <h2>Markdown Viewer</h2>
                <p>This is a react project for a markdown previewer which renders in the form of .md file...</p>
                <br>
                <a class="view" href="/projects/markeddown"target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/10.jpeg" alt="" />
            <div class="content">
                <h2>Drum Machine</h2>
                <p>This is a react project of a online drum.. Try it out its fun!! This is a really fun thing to play with..</p>
                <br>
                <a class="view" href="/projects/drum-machine"target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/11.jpeg" alt="" />
            <div class="content">
                <h2>Calculator</h2>
                <p>This is a react project of a calculator...</p>
                <br>
                <a class="view" href="/projects/calculator"target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/12.jpeg" alt="" />
            <div class="content">
                <h2>Pomodoro Clock</h2>
                <p>This is a react project based on a pomodoro clock as a timer but the sound has been removed...</p>
                <br>
                <a class="view" href="/projects/pomodoro-clock"target="_blank">View</a>
            </div>
        </div>

    </div>
    <br><br>

    <h3  style="color: white;">Api Projects:- </h3>
    <br><br>
    <div class="p-grid">

        <div class="p-elem">
            <img src="css/images/18.jpeg" alt="" />
            <div class="content">
                <h2>Timestamp Microservice</h2>
                <p>This is an backend project with NodeJS to make a working timestamp service by giving an input of a date...</p>
                <br>
                <a class="view" href="/projects/timestamp-microservice"target="_blank">View</a>
                <a class="view" target="_blank" href="https://github.com/Meheer17/TIMESTAMP-MICROSERVICE">Github</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/19.jpeg" alt="" />
            <div class="content">
                <h2>Head Parser</h2>
                <p>This backend driven project gives the the details of ur desktop/laptop such as the OS the IP Address and also the browser your using...</p>
                <br>
                <a class="view" href="/projects/head-parser"target="_blank">View</a>
                <a class="view" target="_blank" href="https://github.com/Meheer17/HEADER-PARSER-MS">Github</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/20.jpeg" alt="" />
            <div class="content">
                <h2>Url Shortner</h2>
                <p>This is a backend project which uses MongoDB as its database and stores all the url in the database and redirects us to tht website...</p>
                <br>
                <a class="view" href="/projects/url-shortner"target="_blank">View</a>
                <a class="view" target="_blank" href="https://github.com/Meheer17/URL-SHORTNER">Github</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/21.jpeg" alt="" />
            <div class="content">
                <h2>File Metadata</h2>
                <p>This project gives the details of the choosen file or given file...</p>
                <br>
                <a class="view" href="/projects/file-metadata" target="_blank">View</a>
                <a class="view" target="_blank" href="https://github.com/Meheer17/File-Metadata-Microservice">Github</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/22.jpeg" alt="" />
            <div class="content">
                <h2>Exercise Tracker</h2>
                <p>This project is one of the largest I've worked on, This stores and gives details of the info we give...</p>
                <br>
                <a class="view" href="/projects/excercise-tracker" target="_blank">View</a>
                <a class="view" target="_blank" href="https://github.com/Meheer17/TRACKER-WORK">Github</a>
            </div>
        </div>

    </div>
    <br><br>

    <h3  style="color: white;">Api Projects With Chai:- </h3>
    <br><br>
    <div class="p-grid">

        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a class="view" href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a class="view" href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a class="view" href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a class="view" href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a class="view" href=""target="_blank">View</a>
            </div>
        </div>

    </div>
    <br><br>

    <h3  style="color: white;">Self Purpose Projects:- </h3>
    <br><br>
    <div class="p-grid">

        <div class="p-elem">
            <img src="css/images/6.jpeg" alt="" />
            <div class="content">
                <h2>Temp Converter</h2>
                <p>This was a project which i made when i had just learned JS and tried to make a temperature converter...</p>
                <br>
                <a class="view" href="/projects/temp-convert"target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/7.jpeg" alt="" />
            <div class="content">
                <h2>Tribe Web</h2>
                <p>I had made this project as one of my english project, Gives info on one of the tribe in India...</p>
                <br>
                <a class="view" href="/projects/tribe-web"target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/13.jpeg" alt="" />
            <div class="content">
                <h2>All React Projects</h2>
                <p>This is a react project with all my react projects from the second section combined as one...</p>
                <br>
                <a class="view" href="/projects/all-react"target="_blank">View</a>
            </div>
        </div>
        

    </div>

    
</section>


<section class="foot">
    <p class="footItem">Meheer &copy 2021</p>
    <p class="footItem"><a style="text-decoration: none; color: #7f8a9a;" href="mailto:meherr17.j@gmail.com"><i class="fab fa-mailchimp"></i>  meherr17.j@gmail.com</a></p>
    <p class="footItem"><a style="text-decoration: none; color: #7f8a9a;" href="tel:+91 8310697451"><i class="fas fa-mobile"></i>  +91-8310697451</a></p>
    <p class="footItem"><i class="fab fa-discord"></i>  discord - Meheer#2192</p>
    <p class="footItem"><a href="https://github.com/Meheer17" style="text-decoration: none; color: #7f8a9a;" target="_blank"><i class="fab fa-github"></i>  github</a></p>
</section>

</body>
</html>