 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="css/images/MJ.png">
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>   
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <script src="navbar.js" type="text/babel"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Projects</title>
</head>
<body>
<div id="NAVBAR"></div>


<section id="welcome">

    <div class="center" style="position: absolute:">
        <h1 class="text" style="color: white;">PROJECTS</h1>
    </div>

</section>

<section id="projects">
    <h1 class="inline-center hl1">Projects</h1>
    <br><br>
    <h1 style="color: white; text-align: center;">Here are some of my projects which ive done over the years...</h1>
    <br><br>


    <h3  style="color: white;">My First Five projects:- </h3>
    <br><br>
    <div class="p-grid">

        <div class="p-elem">
            <img src="css/images/1.jpeg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href="/projects/tribute-page" target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/2.jpeg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href="/projects/survey-form" target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/3.jpeg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href="/projects/online-shop" target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/4.jpeg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href="/projects/document" target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/5.jpeg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href="/projects/profile-1"target="_blank">View</a>
            </div>
        </div>

    </div>
    <br><br>

    <h3  style="color: white;">My First Five projects:- </h3>
    <br><br>
    <div class="p-grid">

        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href="/projects/random-quote-machine"target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href="/projects/markeddown"target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href="/projects/drum-machine"target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href="/projects/calculator"target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href="/projects/pomodoro-clock"target="_blank">View</a>
            </div>
        </div>

    </div>
    <br><br>

    <h3  style="color: white;">My First Five projects:- </h3>
    <br><br>
    <div class="p-grid">

        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>

    </div>
    <br><br>

    <h3  style="color: white;">My First Five projects:- </h3>
    <br><br>
    <div class="p-grid">

        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>

    </div>
    <br><br>

    <h3  style="color: white;">My First Five projects:- </h3>
    <br><br>
    <div class="p-grid">

        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href="">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/cool.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>

    </div>
    <br><br>

    <h3  style="color: white;">My First Five projects:- </h3>
    <br><br>
    <div class="p-grid">

        <div class="p-elem">
            <img src="css/images/6.jpeg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href="/projects/temp-convert"target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/7.jpeg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href="/projects/tribe-web"target="_blank">View</a>
            </div>
        </div>
        <div class="p-elem">
            <img src="css/images/8.jpg" alt="" />
            <div class="content">
                <h2>Tribute Page</h2>
                <p>This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..</p>
                <br>
                <a href=""target="_blank">View</a>
            </div>
        </div>
        

    </div>

    
</section>


<section class="foot">
    <p class="footItem">Meheer &copy 2021</p>
    <p class="footItem"><a style="text-decoration: none; color: #7f8a9a;" href="mailto:meherr17.j@gmail.com"><i class="fab fa-mailchimp"></i>  meherr17.j@gmail.com</a></p>
    <p class="footItem"><a style="text-decoration: none; color: #7f8a9a;" href="tel:+91 8310697451"><i class="fas fa-mobile"></i>  +91-8310697451</a></p>
    <p class="footItem"><i class="fab fa-discord"></i>  discord - Meheer#2192</p>
    <p class="footItem"><a href="https://github.com/Meheer17" style="text-decoration: none; color: #7f8a9a;" target="_blank"><i class="fab fa-github"></i>  github</a></p>
</section>

</body>
</html>