doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon' href='css/images/MJ.png')
  link(rel='stylesheet' href='https://unpkg.com/aos@next/dist/aos.css')
  script(defer='' crossorigin='' src='https://unpkg.com/react@17/umd/react.development.js')
  script(defer='' crossorigin='' src='https://unpkg.com/react-dom@17/umd/react-dom.development.js')
  script(defer='' src='https://unpkg.com/@babel/standalone/babel.min.js')
  link(rel='stylesheet' href='css/main.css' type='text/css')
  script(defer='' src='navbar.js' type='text/babel')
  script(src='index.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' integrity='sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
  title Projects
#header
  .circle-logo
    img(src='css/images/MJ.png' alt='')
  h3
    mono.white MEHEER
  nav.navbar
    ul.navbar-links
      li
        a(href='/') Home
      li
        a(href='/projects') Projects
      li
        a(href='/certificates') Certificates
      li
        a(href='/comments') Comments
      li
        a(href='/sign-up') Sign-Up
  .hamburger
    .line1
    .line2
    .line3
section#welcome
  .center(style='position: absolute:')
    h1.text(style='color: white;') PROJECTS
section#projects(data-aos='fade-up')
  h1.inline-center.hl1(style='color:black') Projects
  br
  br
  h1(style='color: white; text-align: center;') Here are some of my projects which ive done over the years...
  br
  br
  h3(style='color: white;' data-aos='fade-up') My First Five projects:- 
  br
  br
  .p-grid(data-aos='fade-up-left')
    .p-elem(data-aos='zoom-in-up')
      img(src='css/images/1.jpeg' alt='')
      .content
        h2 Tribute Page
        p
          | This was my very first website, This was a website on ABJ Abdul Kalam, One of my inspiration for many things..
        br
        a.view(href='/projects/tribute-page' target='_blank') View
    .p-elem(data-aos='zoom-in-up')
      img(src='css/images/2.jpeg' alt='')
      .content
        h2 Survey Form
        p
          | This is a suevey form made for my test in freecodecamp for my html and css certifications...
        br
        a.view(href='/projects/survey-form' target='_blank') View
    .p-elem(data-aos='zoom-in-up')
      img(src='css/images/3.jpeg' alt='')
      .content
        h2 Shopping Site
        p
          | This is a simple online shopping site made with only html and css for free code camp...
        br
        a.view(href='/projects/online-shop' target='_blank') View
    .p-elem(data-aos='zoom-in-up')
      img(src='css/images/4.jpeg' alt='')
      .content
        h2 JS Document
        p This is a JavaScript documentation with a side nav bar wit html and css only...
        br
        a.view(href='/projects/document' target='_blank') View
    .p-elem(data-aos='zoom-in-up')
      img(src='css/images/5.jpeg' alt='')
      .content
        h2 Profile
        p
          | This is my first profile which i tried to make long ago with nothing other than html and css...
        br
        a.view(href='/projects/profile-1' target='_blank') View
  br
  br
  h3(style='color: white;' data-aos='fade-right') React Projects:- 
  br
  br
  .p-grid(data-aos='fade-up-left')
    .p-elem(data-aos='zoom-out-up')
      img(src='css/images/8.jpeg' alt='')
      .content
        h2 Random Quote Machine
        p
          | This is a really intresting react project which i made for giving out good motivational quotes...
        br
        a.view(href='/projects/random-quote-machine' target='_blank') View
    .p-elem(data-aos='zoom-out-up')
      img(src='css/images/9.jpeg' alt='')
      .content
        h2 Markdown Viewer
        p
          | This is a react project for a markdown previewer which renders in the form of .md file...
        br
        a.view(href='/projects/markeddown' target='_blank') View
    .p-elem(data-aos='zoom-out-up')
      img(src='css/images/10.jpeg' alt='')
      .content
        h2 Drum Machine
        p
          | This is a react project of a online drum.. Try it out its fun!! This is a really fun thing to play with..
        br
        a.view(href='/projects/drum-machine' target='_blank') View
    .p-elem(data-aos='zoom-out-up')
      img(src='css/images/11.jpeg' alt='')
      .content
        h2 Calculator
        p This is a react project of a calculator...
        br
        a.view(href='/projects/calculator' target='_blank') View
    .p-elem(data-aos='zoom-out-up')
      img(src='css/images/12.jpeg' alt='')
      .content
        h2 Pomodoro Clock
        p
          | This is a react project based on a pomodoro clock as a timer but the sound has been removed...
        br
        a.view(href='/projects/pomodoro-clock' target='_blank') View
  br
  br
  h3(style='color: white;' data-aos='fade-right') Api Projects:- 
  br
  br
  .p-grid(data-aos='fade-up-right')
    .p-elem(data-aos='zoom-in-down')
      img(src='css/images/18.jpeg' alt='')
      .content
        h2 Timestamp Microservice
        p
          | This is an backend project with NodeJS to make a working timestamp service by giving an input of a date...
        br
        a.view(href='/projects/timestamp-microservice' target='_blank') View
        a.view(target='_blank' href='https://github.com/Meheer17/TIMESTAMP-MICROSERVICE') Github
    .p-elem(data-aos='zoom-in-down')
      img(src='css/images/19.jpeg' alt='')
      .content
        h2 Head Parser
        p
          | This backend driven project gives the the details of ur desktop/laptop such as the OS the IP Address and also the browser your using...
        br
        a.view(href='/projects/head-parser' target='_blank') View
        a.view(target='_blank' href='https://github.com/Meheer17/HEADER-PARSER-MS') Github
    .p-elem(data-aos='zoom-in-down')
      img(src='css/images/20.jpeg' alt='')
      .content
        h2 Url Shortner
        p
          | This is a backend project which uses MongoDB as its database and stores all the url in the database and redirects us to tht website...
        br
        a.view(href='/projects/url-shortner' target='_blank') View
        a.view(target='_blank' href='https://github.com/Meheer17/URL-SHORTNER') Github
    .p-elem(data-aos='zoom-in-down')
      img(src='css/images/21.jpeg' alt='')
      .content
        h2 File Metadata
        p This project gives the details of the choosen file or given file...
        br
        a.view(href='/projects/file-metadata' target='_blank') View
        a.view(target='_blank' href='https://github.com/Meheer17/File-Metadata-Microservice') Github
    .p-elem(data-aos='zoom-in-down')
      img(src='css/images/22.jpeg' alt='')
      .content
        h2 Exercise Tracker
        p
          | This project is one of the largest I&apos;ve worked on, This stores and gives details of the info we give...
        br
        a.view(href='/projects/excercise-tracker' target='_blank') View
        a.view(target='_blank' href='https://github.com/Meheer17/TRACKER-WORK') Github
  br
  br
  h3(style='color: white;' data-aos='fade-right') Api Projects With Chai:- 
  br
  br
  .p-grid(data-aos='fade-up-left')
    .p-elem(data-aos='zoom-out-down')
      img(src='css/images/28.jpg' alt='')
      .content
        h2 Metric Converter
        p A simple NodeJs metric converter for various units of measurements...
        br
        a.view(href='https://METRIC-CONVERTER.sujajana2609.repl.co' target='_blank') View
        a.view(target='_blank' href='https://github.com/Meheer17/METRIC-CONVERTER') Github
    .p-elem(data-aos='zoom-out-down')
      img(src='css/images/25.jpeg' alt='')
      .content
        h2 Library Project
        p
          | A library tracker which keeps the info of the books in the library with the comments on them with mongoDB...
        br
        a.view(href='https://LIBRARY-PROJECT.sujajana2609.repl.co' target='_blank') View
        a.view(target='_blank' href='https://github.com/Meheer17/LIBRARY-PROJECT') Github
    .p-elem(data-aos='zoom-out-down')
      img(src='css/images/24.jpeg' alt='')
      .content
        h2 Issue Tracker
        p
          | As the name suggests the issue tracker keeps a track on the issue posted through mongoDB...
        br
        a.view(href='https://ISSUE-TRACKER.sujajana2609.repl.co' target='_blank') View
        a.view(target='_blank' href='https://github.com/Meheer17/ISSUE-TRACKER') Github
    .p-elem(data-aos='zoom-out-down')
      img(src='css/images/26.jpeg' alt='')
      .content
        h2 American British
        p An translator from/to British and American with NodeJs...
        br
        a.view(href='https://AMERICAN-BRITISH.sujajana2609.repl.co' target='_blank') View
        a.view(target='_blank' href='https://github.com/Meheer17/AMERICAN-BRITISH') Github
    .p-elem(data-aos='zoom-out-down')
      img(src='css/images/27.jpeg' alt='')
      .content
        h2 Sudoku Solver
        p
          | Most of us hav played Sudoku its a really fun game, and to solve takes a good amount of time., check this out...
        br
        a.view(href='https://SUDOKU-SOLVER-1.sujajana2609.repl.co' target='_blank') View
        a.view(target='_blank' href='https://github.com/Meheer17/SUDOKU-SOLVER') Github
  br
  br
  h3(style='color: white;' data-aos='fade-right') Self Purpose Projects:- 
  br
  br
  .p-grid(data-aos='fade-up-right')
    .p-elem(data-aos='zoom-out-left')
      img(src='css/images/6.jpeg' alt='')
      .content
        h2 Temp Converter
        p
          | This was a project which i made when i had just learned JS and tried to make a temperature converter...
        br
        a.view(href='/projects/temp-convert' target='_blank') View
    .p-elem(data-aos='zoom-out-left')
      img(src='css/images/7.jpeg' alt='')
      .content
        h2 Tribe Web
        p
          | I had made this project as one of my english project, Gives info on one of the tribe in India...
        br
        a.view(href='/projects/tribe-web' target='_blank') View
    .p-elem(data-aos='zoom-out-left')
      img(src='css/images/13.jpeg' alt='')
      .content
        h2 All React Projects
        p
          | This is a react project with all my react projects from the second section combined as one...
        br
        a.view(href='/projects/all-react' target='_blank') View
    .p-elem(data-aos='zoom-out-left')
      img(src='css/images/23.jpeg' alt='')
      .content
        h2 E-Waste Management
        p
          | This is a project made to show the importance of clearing out ewaste which is produced...
        br
        a.view(href='https://E-waste-management.sujajana2609.repl.co' target='_blank') View
  br
  br
  h3(style='color: white;' data-aos='fade-left') Projects integrated to this present website:- 
  br
  br
  .p-grid(data-aos='fade-up-right')
    .p-elem(data-aos='zoom-in-right    ')
      img(src='css/images/30.jpeg' alt='')
      .content
        h2 My Present Website
        p
          | Well nothing to be surprised, well yes this is website ur seing now...
          | I&apos;ve put it on my projects page as this is also one of my work...
        br
        a.view(href='https://github.com/Meheer17/My-Website' target='_blank') Github
    .p-elem(data-aos='zoom-out-left')
      img(src='css/images/29.jpeg' alt='')
      .content
        h2 Login And Sign-up Page
        p A simple login and sign up page made by me for future references...
        br
        a.view(href='https://github.com/Meheer17/LoginPage' target='_blank') Github
    .p-elem(data-aos='zoom-out-left')
      img(src='css/images/32.jpeg' alt='')
      .content
        h2 Comments
        p
          | This project is based on adding a comment to the database and getting them to a page by formating them from a json text...
        br
        a.view(href='https://github.com/Meheer17/comments-1set' target='_blank') Github
section.foot
  p.footItem Meheer &amp;copy 2021
  p.footItem
    a(style='text-decoration: none; color: #7f8a9a;' href='mailto:meherr17.j@gmail.com')
      i.fab.fa-mailchimp
      |   meherr17.j@gmail.com
  p.footItem
    a(style='text-decoration: none; color: #7f8a9a;' href='tel:+91 8310697451')
      i.fas.fa-mobile
      |   +91-8310697451
  p.footItem
    i.fab.fa-discord
    |   discord - Meheer#2192
  p.footItem
    a(href='https://github.com/Meheer17' style='text-decoration: none; color: #7f8a9a;' target='\
    _blank')
      i.fab.fa-github
      |   github
script.
  $(window).on('scroll', function(){
  if($(window).scrollTop()){
  $('#header').addClass('nav-show');
  } else {
  $('#header').removeClass('nav-show');
  }
  })
script(src='https://unpkg.com/aos@next/dist/aos.js')
script.
  AOS.init({
  offset: 120,
  duration: 1000,
  });
script.
  const navSlide = () => {
  const hamburger = document.querySelector(".hamburger");
  const navbar = document.querySelector(".navbar");
  const navLinks = document.querySelectorAll(".navbar-links li");
  hamburger.onclick = () => {
  navbar.classList.toggle("nav-active");
  //Animation links
  navLinks.forEach((link, index) => {
  if (link.style.animation) {
  link.style.animation = "";
  } else {
  link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7+ 1}s`;
  }
  });
  //hamburger animation
  hamburger.classList.toggle("toggle");
  }
  }
  window.onload = () => navSlide();